@font-face {
    font-family: 'dm-sans';
    src: url('./fonts/DMSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'dm-sans';
    src: url('./fonts/DMSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'dm-sans';
    src: url('./fonts/DMSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'dm-sans';
    src: url('./fonts/DMSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'dm-sans';
    src: url('./fonts/DMSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'dm-sans';
    src: url('./fonts/DMSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    font-family: 'dm-sans';
}

body {
    margin: 0;
    padding: 0;
    font-family: 'dm-sans';
}

.w-full {
    width: 100%;
}

footer {
    width: 100%;
    height: 50px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    margin-left: 0.5rem;
}

.container-button-floating .button-floating {
    margin-right: 10px
}

.container-button-floating .button-floating:last-child {
    margin-right: 0
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 1em;
}

.containercon {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 8px !important;
}

.flex-1 {
    flex: 1
}

.row-zyx {
    display: flex;
    flex-wrap: wrap;
}

.row-zyx>* {
    width: 100%;
    padding-right: 0;
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.font-weight-bold {
    font-weight: bold
}

.rowflex-zyx {
    display: flex;
    justify-content: space-between;
}

.row-zyx>.col-2,
.row-zyx>.col-3,
.row-zyx>.col-4,
.row-zyx>.col-6,
.row-zyx>.col-9,
.row-zyx>.col-8 {
    margin-bottom: 16px
}

@media (min-width: 768px) {
    .row-zyx {
        margin-bottom: 16px;
    }

    .row-zyx>.col-2,
    .row-zyx>.col-3,
    .row-zyx>.col-4,
    .row-zyx>.col-6,
    .row-zyx>.col-9,
    .row-zyx>.col-8 {
        width: 50%;
        padding-right: 16px;
        margin-bottom: 8px
    }

    .row-zyx>.col-4:last-child,
    .row-zyx>.col-6:last-child,
    .row-zyx>.col-3:last-child,
    .row-zyx>.col-2:last-child,
    .row-zyx>.col-8:last-child {
        padding-right: 0px;
    }

    .row-zyx>.col-4:first-of-type,
    .row-zyx>.col-6:first-of-type,
    .row-zyx>.col-3:first-of-type,
    .row-zyx>.col-2:first-of-type,
    .row-zyx>.col-8:first-of-type {
        padding-right: 16px;
    }
}

@media (min-width: 992px) {
    .row-zyx {
        margin-bottom: 16px;
    }

    .row-zyx>.col-12 {
        width: 100%;
        padding-right: 16px;
        margin-bottom: 16px
    }

    .row-zyx>.col-11 {
        width: 91.67%;
        padding-right: 16px;
        margin-bottom: 16px
    }

    .row-zyx>.col-9 {
        width: 75%;
        padding-right: 16px;
        margin-bottom: 16px
    }

    .row-zyx>.col-8 {
        width: 66.66%;
        padding-right: 16px;
        margin-bottom: 16px
    }

    .row-zyx>.col-6 {
        width: 50%;
        padding-right: 16px;
        margin-bottom: 16px
    }

    .row-zyx>.col-3 {
        width: 25%;
        padding-right: 16px;
        margin-bottom: 16px
    }

    .row-zyx>.col-2 {
        width: 16.6%;
        padding-right: 16px;
        margin-bottom: 16px
    }

    .row-zyx>.col-4 {
        width: 33.33%;
        padding-right: 16px;
        margin-bottom: 16px
    }

    .row-zyx>.col-5 {
        width: 41.66%;
        padding-right: 16px;
        margin-bottom: 16px
    }

    .row-zyx>.col-5nomargin {
        width: 41.66%;
        padding-right: 16px;
    }

    .row-zyx>.col-7 {
        width: 58.33%;
        padding-right: 16px;
        margin-bottom: 16px
    }

    .row-zyx>.col-1 {
        width: 8.33%;
        padding-right: 16px;
        margin-bottom: 16px
    }

    .row-zyx>.col-3:last-child,
    .row-zyx>.col-2:last-child,
    .row-zyx>.col-8:last-child {
        padding-right: 0px
    }
}

.emoji-mart-bar .emoji-mart-preview {
    display: none;
}

.scroll-style-go {
    overflow-y: auto !important;

}

.scroll-style-go::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
}

.scroll-style-go:hover::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #dbdfe4;
}

.scroll-style-go::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

.scroll-style-go:hover:-webkit-scrollbar {
    width: 5px;
    background-color: #dbdfe4;
}

.scroll-style-go::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .2);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out
}

.scroll-style-go:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .2);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #7721AD;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #381052;
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-beat,
.la-ball-beat>div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.la-ball-beat {
    display: block;
    font-size: 0;
    color: #fff
}

.la-ball-beat.la-dark {
    color: #333
}

.la-ball-beat>div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor
}

.la-ball-beat {
    width: 54px;
    height: 18px
}

.la-ball-beat>div {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 100%;
    -webkit-animation: ball-beat 0.7s -0.15s infinite linear;
    -moz-animation: ball-beat 0.7s -0.15s infinite linear;
    -o-animation: ball-beat 0.7s -0.15s infinite linear;
    animation: ball-beat 0.7s -0.15s infinite linear
}

.la-ball-beat>div:nth-child(2n-1) {
    -webkit-animation-delay: -.5s;
    -moz-animation-delay: -.5s;
    -o-animation-delay: -.5s;
    animation-delay: -.5s
}

.la-ball-beat.la-sm {
    width: 26px;
    height: 8px
}

.la-ball-beat.la-sm>div {
    width: 4px;
    height: 4px;
    margin: 2px
}

.la-ball-beat.la-2x {
    width: 108px;
    height: 36px
}

.la-ball-beat.la-2x>div {
    width: 20px;
    height: 20px;
    margin: 8px
}

.la-ball-beat.la-3x {
    width: 162px;
    height: 54px
}

.la-ball-beat.la-3x>div {
    width: 30px;
    height: 30px;
    margin: 12px
}

@-webkit-keyframes ball-beat {
    50% {
        opacity: .2;
        -webkit-transform: scale(0.75);
        transform: scale(0.75)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-moz-keyframes ball-beat {
    50% {
        opacity: .2;
        -moz-transform: scale(0.75);
        transform: scale(0.75)
    }

    100% {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1)
    }
}

@-o-keyframes ball-beat {
    50% {
        opacity: .2;
        -o-transform: scale(0.75);
        transform: scale(0.75)
    }

    100% {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes ball-beat {
    50% {
        opacity: .2;
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        -o-transform: scale(0.75);
        transform: scale(0.75)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

code {
    background-color: #eee;
    padding-left: 4px;
    padding-right: 4px;
}

.rdrInputRange {
    display: none !important
}

.item-result-searcher div {
    background-color: #5d99ef !important;
    -webkit-transition: background-color 900ms linear;
    -ms-transition: background-color 900ms linear;
    transition: background-color 900ms linear;
}

.audio-recorder {
    background-color: transparent !important;
    box-shadow: none !important;
}

.recording {
    width: 200px !important
}